
@{
    //Step 15
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <label for="key">User Key: </label>
    <input type="text" id="key" name="key" />
    <button type="submit">Submit</button>
</form>